$pieceSize: 100px;
$gameboardHeight: $pieceSize * 5;
$gameboardWidth: $pieceSize * 2.5;
$startPositionLeft: $gameboardWidth/2 - $pieceSize/2;

@mixin piece($color) {
  position: absolute;
  overflow: hidden;
  height: $pieceSize;
  width: $pieceSize;
  left: $startPositionLeft;
  top: -$pieceSize;
  .colored{
    background-color: $color;
  }
  div {
    float: left;
    height: $pieceSize/4;
    width: $pieceSize/4;
  }
}

.o-piece {
  @include piece(yellow);
}

.i-piece {
  @include piece(cyan);
}

.s-piece {
  @include piece(lime);
}

.z-piece {
  @include piece(red);
}

.l-piece {
  @include piece(orange);
}

.j-piece {
  @include piece(blue);
}

.t-piece {
  @include piece(purple);
}

#gameboard {
  border: 2px solid black;
  width: $gameboardWidth;
  height: $gameboardHeight;
  margin: auto;
  position: relative;
}

#startbutton {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}
