$pieceSize: 100px;
$gameboardHeight: $pieceSize * 5;
$gameboardWidth: $pieceSize * 2.5;
$startPositionLeft: $gameboardWidth/2 - $pieceSize/2;

@mixin piece($color) {
  position: absolute;
  overflow: hidden;
  height: $pieceSize;
  width: $pieceSize;
  left: $startPositionLeft;
  top: -$pieceSize;
  .colored{
    background-color: $color;
  }
  div {
      float: left;
  }
}

#gameboard {
    border: 2px solid black;
    width: $gameboardWidth;
    height: $gameboardHeight;
    margin: auto;
    position: relative;
}

.s-shape {
    @include piece(blue);
}
