$gameboardsize: 450px;

#gameboard{
    border: 2px solid black;
    width: $gameboardsize;
    height: $gameboardsize;
    margin: auto;
    position: relative;
}

.piece{
    background-color: blue;
    position: absolute;
}
